-- MySQL dump 10.13  Distrib 8.0.42, for Win64 (x86_64)
--
-- Host: localhost    Database: CandySoftApi2
-- ------------------------------------------------------
-- Server version	8.0.42

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `abastecimiento_abastecimiento`
--

DROP TABLE IF EXISTS `abastecimiento_abastecimiento`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `abastecimiento_abastecimiento` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `manicurista_id_id` bigint NOT NULL,
  `estado` varchar(30) NOT NULL,
  `fecha_creacion` date NOT NULL,
  `fecha_reporte` date DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `abastecimiento_abast_manicurista_id_id_d56c54fe_fk_usuario_m` (`manicurista_id_id`),
  CONSTRAINT `abastecimiento_abast_manicurista_id_id_d56c54fe_fk_usuario_m` FOREIGN KEY (`manicurista_id_id`) REFERENCES `usuario_manicurista` (`usuario_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `abastecimiento_abastecimiento`
--

LOCK TABLES `abastecimiento_abastecimiento` WRITE;
/*!40000 ALTER TABLE `abastecimiento_abastecimiento` DISABLE KEYS */;
/*!40000 ALTER TABLE `abastecimiento_abastecimiento` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `abastecimiento_insumoabastecimiento`
--

DROP TABLE IF EXISTS `abastecimiento_insumoabastecimiento`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `abastecimiento_insumoabastecimiento` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `estado` varchar(30) NOT NULL,
  `abastecimiento_id_id` bigint NOT NULL,
  `insumo_id_id` bigint NOT NULL,
  `cantidad` int NOT NULL,
  `comentario` longtext,
  PRIMARY KEY (`id`),
  KEY `abastecimiento_insum_abastecimiento_id_id_0d9e2319_fk_abastecim` (`abastecimiento_id_id`),
  KEY `abastecimiento_insum_insumo_id_id_9bf3792b_fk_insumo_in` (`insumo_id_id`),
  CONSTRAINT `abastecimiento_insum_abastecimiento_id_id_0d9e2319_fk_abastecim` FOREIGN KEY (`abastecimiento_id_id`) REFERENCES `abastecimiento_abastecimiento` (`id`),
  CONSTRAINT `abastecimiento_insum_insumo_id_id_9bf3792b_fk_insumo_in` FOREIGN KEY (`insumo_id_id`) REFERENCES `insumo_insumo` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `abastecimiento_insumoabastecimiento`
--

LOCK TABLES `abastecimiento_insumoabastecimiento` WRITE;
/*!40000 ALTER TABLE `abastecimiento_insumoabastecimiento` DISABLE KEYS */;
/*!40000 ALTER TABLE `abastecimiento_insumoabastecimiento` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_group`
--

DROP TABLE IF EXISTS `auth_group`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_group` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(150) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group`
--

LOCK TABLES `auth_group` WRITE;
/*!40000 ALTER TABLE `auth_group` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_group` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_group_permissions`
--

DROP TABLE IF EXISTS `auth_group_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_group_permissions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `group_id` int NOT NULL,
  `permission_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_group_permissions_group_id_permission_id_0cd325b0_uniq` (`group_id`,`permission_id`),
  KEY `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` (`permission_id`),
  CONSTRAINT `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `auth_group_permissions_group_id_b120cbf9_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group_permissions`
--

LOCK TABLES `auth_group_permissions` WRITE;
/*!40000 ALTER TABLE `auth_group_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_group_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_permission`
--

DROP TABLE IF EXISTS `auth_permission`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_permission` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `content_type_id` int NOT NULL,
  `codename` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_permission_content_type_id_codename_01ab375a_uniq` (`content_type_id`,`codename`),
  CONSTRAINT `auth_permission_content_type_id_2f476e4b_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=117 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_permission`
--

LOCK TABLES `auth_permission` WRITE;
/*!40000 ALTER TABLE `auth_permission` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_permission` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `authrecuperacion_codigorecuperacion`
--

DROP TABLE IF EXISTS `authrecuperacion_codigorecuperacion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `authrecuperacion_codigorecuperacion` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `codigo` varchar(6) NOT NULL,
  `creado_en` datetime(6) NOT NULL,
  `expiracion` datetime(6) NOT NULL,
  `usuario_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `authrecuperacion_cod_usuario_id_a9dd60aa_fk_usuario_u` (`usuario_id`),
  CONSTRAINT `authrecuperacion_cod_usuario_id_a9dd60aa_fk_usuario_u` FOREIGN KEY (`usuario_id`) REFERENCES `usuario_usuario` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `authrecuperacion_codigorecuperacion`
--

LOCK TABLES `authrecuperacion_codigorecuperacion` WRITE;
/*!40000 ALTER TABLE `authrecuperacion_codigorecuperacion` DISABLE KEYS */;
/*!40000 ALTER TABLE `authrecuperacion_codigorecuperacion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `calificacion_calificacion`
--

DROP TABLE IF EXISTS `calificacion_calificacion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `calificacion_calificacion` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `puntuacion` int NOT NULL,
  `comentario` longtext NOT NULL,
  `imagen` varchar(100) DEFAULT NULL,
  `fecha_creacion` datetime(6) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `calificacion_calificacion`
--

LOCK TABLES `calificacion_calificacion` WRITE;
/*!40000 ALTER TABLE `calificacion_calificacion` DISABLE KEYS */;
INSERT INTO `calificacion_calificacion` VALUES (1,1,'Excelente servicio, se los recomiendo.','','2025-08-18 16:53:26.890382');
/*!40000 ALTER TABLE `calificacion_calificacion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cita_citaventa`
--

DROP TABLE IF EXISTS `cita_citaventa`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cita_citaventa` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `Fecha` date NOT NULL,
  `Hora` time(6) NOT NULL,
  `Descripcion` longtext NOT NULL,
  `Total` decimal(10,2) NOT NULL,
  `cliente_id_id` bigint DEFAULT NULL,
  `manicurista_id_id` bigint DEFAULT NULL,
  `estado_id_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `cita_citaventa_estado_id_id_db02b589_fk_cita_estadocita_id` (`estado_id_id`),
  KEY `cita_citaventa_manicurista_id_id_14a3fff2_fk_usuario_m` (`manicurista_id_id`),
  KEY `cita_citaventa_cliente_id_id_7a66ac97_fk_usuario_c` (`cliente_id_id`),
  CONSTRAINT `cita_citaventa_cliente_id_id_7a66ac97_fk_usuario_c` FOREIGN KEY (`cliente_id_id`) REFERENCES `usuario_cliente` (`usuario_id`),
  CONSTRAINT `cita_citaventa_estado_id_id_db02b589_fk_cita_estadocita_id` FOREIGN KEY (`estado_id_id`) REFERENCES `cita_estadocita` (`id`),
  CONSTRAINT `cita_citaventa_manicurista_id_id_14a3fff2_fk_usuario_m` FOREIGN KEY (`manicurista_id_id`) REFERENCES `usuario_manicurista` (`usuario_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cita_citaventa`
--

LOCK TABLES `cita_citaventa` WRITE;
/*!40000 ALTER TABLE `cita_citaventa` DISABLE KEYS */;
/*!40000 ALTER TABLE `cita_citaventa` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cita_estadocita`
--

DROP TABLE IF EXISTS `cita_estadocita`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cita_estadocita` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `Estado` varchar(40) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cita_estadocita`
--

LOCK TABLES `cita_estadocita` WRITE;
/*!40000 ALTER TABLE `cita_estadocita` DISABLE KEYS */;
/*!40000 ALTER TABLE `cita_estadocita` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cita_serviciocita`
--

DROP TABLE IF EXISTS `cita_serviciocita`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cita_serviciocita` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `subtotal` decimal(10,2) NOT NULL,
  `cita_id_id` bigint NOT NULL,
  `servicio_id_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `cita_serviciocita_cita_id_id_8992de2f_fk_cita_citaventa_id` (`cita_id_id`),
  KEY `cita_serviciocita_servicio_id_id_d90d6aec_fk_servicio_` (`servicio_id_id`),
  CONSTRAINT `cita_serviciocita_cita_id_id_8992de2f_fk_cita_citaventa_id` FOREIGN KEY (`cita_id_id`) REFERENCES `cita_citaventa` (`id`),
  CONSTRAINT `cita_serviciocita_servicio_id_id_d90d6aec_fk_servicio_` FOREIGN KEY (`servicio_id_id`) REFERENCES `servicio_servicio` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cita_serviciocita`
--

LOCK TABLES `cita_serviciocita` WRITE;
/*!40000 ALTER TABLE `cita_serviciocita` DISABLE KEYS */;
/*!40000 ALTER TABLE `cita_serviciocita` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `compra_compra`
--

DROP TABLE IF EXISTS `compra_compra`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `compra_compra` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `fechaIngreso` date NOT NULL,
  `fechaCompra` date NOT NULL,
  `IVA` decimal(10,2) NOT NULL,
  `proveedor_id_id` bigint NOT NULL,
  `estadoCompra_id_id` bigint NOT NULL,
  `total` decimal(10,2) NOT NULL,
  `observacion` longtext,
  PRIMARY KEY (`id`),
  KEY `compra_compra_proveedor_id_id_28b9d88e_fk_proveedor_proveedor_id` (`proveedor_id_id`),
  KEY `compra_compra_estadoCompra_id_id_7a231026_fk_compra_es` (`estadoCompra_id_id`),
  CONSTRAINT `compra_compra_estadoCompra_id_id_7a231026_fk_compra_es` FOREIGN KEY (`estadoCompra_id_id`) REFERENCES `compra_estadocompra` (`id`),
  CONSTRAINT `compra_compra_proveedor_id_id_28b9d88e_fk_proveedor_proveedor_id` FOREIGN KEY (`proveedor_id_id`) REFERENCES `proveedor_proveedor` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `compra_compra`
--

LOCK TABLES `compra_compra` WRITE;
/*!40000 ALTER TABLE `compra_compra` DISABLE KEYS */;
/*!40000 ALTER TABLE `compra_compra` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `compra_comprainsumo`
--

DROP TABLE IF EXISTS `compra_comprainsumo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `compra_comprainsumo` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `cantidad` int NOT NULL,
  `precioUnitario` decimal(10,2) NOT NULL,
  `subtotal` decimal(10,2) NOT NULL,
  `compra_id_id` bigint NOT NULL,
  `insumo_id_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `compra_comprainsumo_compra_id_id_3b5e0d5c_fk_compra_compra_id` (`compra_id_id`),
  KEY `compra_comprainsumo_insumo_id_id_c9a77d99_fk_insumo_insumo_id` (`insumo_id_id`),
  CONSTRAINT `compra_comprainsumo_compra_id_id_3b5e0d5c_fk_compra_compra_id` FOREIGN KEY (`compra_id_id`) REFERENCES `compra_compra` (`id`),
  CONSTRAINT `compra_comprainsumo_insumo_id_id_c9a77d99_fk_insumo_insumo_id` FOREIGN KEY (`insumo_id_id`) REFERENCES `insumo_insumo` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `compra_comprainsumo`
--

LOCK TABLES `compra_comprainsumo` WRITE;
/*!40000 ALTER TABLE `compra_comprainsumo` DISABLE KEYS */;
/*!40000 ALTER TABLE `compra_comprainsumo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `compra_estadocompra`
--

DROP TABLE IF EXISTS `compra_estadocompra`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `compra_estadocompra` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `Estado` varchar(40) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `compra_estadocompra`
--

LOCK TABLES `compra_estadocompra` WRITE;
/*!40000 ALTER TABLE `compra_estadocompra` DISABLE KEYS */;
/*!40000 ALTER TABLE `compra_estadocompra` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_admin_log`
--

DROP TABLE IF EXISTS `django_admin_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_admin_log` (
  `id` int NOT NULL AUTO_INCREMENT,
  `action_time` datetime(6) NOT NULL,
  `object_id` longtext,
  `object_repr` varchar(200) NOT NULL,
  `action_flag` smallint unsigned NOT NULL,
  `change_message` longtext NOT NULL,
  `content_type_id` int DEFAULT NULL,
  `user_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `django_admin_log_content_type_id_c4bce8eb_fk_django_co` (`content_type_id`),
  KEY `django_admin_log_user_id_c564eba6_fk_usuario_usuario_id` (`user_id`),
  CONSTRAINT `django_admin_log_content_type_id_c4bce8eb_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`),
  CONSTRAINT `django_admin_log_user_id_c564eba6_fk_usuario_usuario_id` FOREIGN KEY (`user_id`) REFERENCES `usuario_usuario` (`id`),
  CONSTRAINT `django_admin_log_chk_1` CHECK ((`action_flag` >= 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_admin_log`
--

LOCK TABLES `django_admin_log` WRITE;
/*!40000 ALTER TABLE `django_admin_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_admin_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_content_type`
--

DROP TABLE IF EXISTS `django_content_type`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_content_type` (
  `id` int NOT NULL AUTO_INCREMENT,
  `app_label` varchar(100) NOT NULL,
  `model` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `django_content_type_app_label_model_76bd3d3b_uniq` (`app_label`,`model`)
) ENGINE=InnoDB AUTO_INCREMENT=30 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_content_type`
--

LOCK TABLES `django_content_type` WRITE;
/*!40000 ALTER TABLE `django_content_type` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_content_type` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_migrations`
--

DROP TABLE IF EXISTS `django_migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_migrations` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `app` varchar(255) NOT NULL,
  `name` varchar(255) NOT NULL,
  `applied` datetime(6) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=74 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_migrations`
--

LOCK TABLES `django_migrations` WRITE;
/*!40000 ALTER TABLE `django_migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_session`
--

DROP TABLE IF EXISTS `django_session`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_session` (
  `session_key` varchar(40) NOT NULL,
  `session_data` longtext NOT NULL,
  `expire_date` datetime(6) NOT NULL,
  PRIMARY KEY (`session_key`),
  KEY `django_session_expire_date_a5c62663` (`expire_date`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_session`
--

LOCK TABLES `django_session` WRITE;
/*!40000 ALTER TABLE `django_session` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_session` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `insumo_insumo`
--

DROP TABLE IF EXISTS `insumo_insumo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `insumo_insumo` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `nombre` varchar(40) NOT NULL,
  `stock` int NOT NULL,
  `marca_id_id` bigint NOT NULL,
  `estado` varchar(9) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `insumo_insumo_marca_id_id_76a93ccf_fk_insumo_marca_id` (`marca_id_id`),
  CONSTRAINT `insumo_insumo_marca_id_id_76a93ccf_fk_insumo_marca_id` FOREIGN KEY (`marca_id_id`) REFERENCES `insumo_marca` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `insumo_insumo`
--

LOCK TABLES `insumo_insumo` WRITE;
/*!40000 ALTER TABLE `insumo_insumo` DISABLE KEYS */;
/*!40000 ALTER TABLE `insumo_insumo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `insumo_marca`
--

DROP TABLE IF EXISTS `insumo_marca`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `insumo_marca` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `nombre` varchar(40) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `insumo_marca`
--

LOCK TABLES `insumo_marca` WRITE;
/*!40000 ALTER TABLE `insumo_marca` DISABLE KEYS */;
/*!40000 ALTER TABLE `insumo_marca` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `manicurista_liquidacion`
--

DROP TABLE IF EXISTS `manicurista_liquidacion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `manicurista_liquidacion` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `FechaInicial` date NOT NULL,
  `TotalGenerado` decimal(10,2) NOT NULL,
  `Comision` decimal(10,2) NOT NULL,
  `Local` decimal(10,2) NOT NULL,
  `FechaFinal` date NOT NULL,
  `manicurista_id_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `manicurista_liquidac_manicurista_id_id_9214704a_fk_usuario_m` (`manicurista_id_id`),
  CONSTRAINT `manicurista_liquidac_manicurista_id_id_9214704a_fk_usuario_m` FOREIGN KEY (`manicurista_id_id`) REFERENCES `usuario_manicurista` (`usuario_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `manicurista_liquidacion`
--

LOCK TABLES `manicurista_liquidacion` WRITE;
/*!40000 ALTER TABLE `manicurista_liquidacion` DISABLE KEYS */;
/*!40000 ALTER TABLE `manicurista_liquidacion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `manicurista_novedades`
--

DROP TABLE IF EXISTS `manicurista_novedades`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `manicurista_novedades` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `Fecha` date NOT NULL,
  `HoraEntrada` time(6) NOT NULL,
  `HoraSalida` time(6) NOT NULL,
  `Motivo` longtext NOT NULL,
  `manicurista_id_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `manicurista_novedade_manicurista_id_id_9f2561c5_fk_usuario_m` (`manicurista_id_id`),
  CONSTRAINT `manicurista_novedade_manicurista_id_id_9f2561c5_fk_usuario_m` FOREIGN KEY (`manicurista_id_id`) REFERENCES `usuario_manicurista` (`usuario_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `manicurista_novedades`
--

LOCK TABLES `manicurista_novedades` WRITE;
/*!40000 ALTER TABLE `manicurista_novedades` DISABLE KEYS */;
/*!40000 ALTER TABLE `manicurista_novedades` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `proveedor_proveedor`
--

DROP TABLE IF EXISTS `proveedor_proveedor`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `proveedor_proveedor` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `tipo_persona` varchar(10) NOT NULL,
  `tipo_documento` varchar(3) NOT NULL,
  `numero_documento` varchar(15) NOT NULL,
  `telefono` varchar(15) NOT NULL,
  `email` varchar(60) NOT NULL,
  `direccion` varchar(60) NOT NULL,
  `ciudad` varchar(60) NOT NULL,
  `apellido_representante` varchar(60) DEFAULT NULL,
  `nombre_representante` varchar(60) DEFAULT NULL,
  `nombre_empresa` varchar(60) DEFAULT NULL,
  `email_representante` varchar(60) DEFAULT NULL,
  `telefono_representante` varchar(15) DEFAULT NULL,
  `estado` varchar(10) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `proveedor_proveedor_email_30f38c53_uniq` (`email`),
  UNIQUE KEY `proveedor_proveedor_numero_documento_3a2db986_uniq` (`numero_documento`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `proveedor_proveedor`
--

LOCK TABLES `proveedor_proveedor` WRITE;
/*!40000 ALTER TABLE `proveedor_proveedor` DISABLE KEYS */;
/*!40000 ALTER TABLE `proveedor_proveedor` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rol_permiso`
--

DROP TABLE IF EXISTS `rol_permiso`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `rol_permiso` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `modulo` varchar(45) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rol_permiso`
--

LOCK TABLES `rol_permiso` WRITE;
/*!40000 ALTER TABLE `rol_permiso` DISABLE KEYS */;
/*!40000 ALTER TABLE `rol_permiso` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rol_permiso_rol`
--

DROP TABLE IF EXISTS `rol_permiso_rol`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `rol_permiso_rol` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `permiso_id_id` bigint DEFAULT NULL,
  `rol_id_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `rol_permiso_rol_rol_id_id_permiso_id_id_8834d424_uniq` (`rol_id_id`,`permiso_id_id`),
  KEY `rol_permiso_rol_permiso_id_id_f3efbd7e_fk_rol_permiso_id` (`permiso_id_id`),
  CONSTRAINT `rol_permiso_rol_permiso_id_id_f3efbd7e_fk_rol_permiso_id` FOREIGN KEY (`permiso_id_id`) REFERENCES `rol_permiso` (`id`),
  CONSTRAINT `rol_permiso_rol_rol_id_id_56fc27e1_fk_rol_rol_id` FOREIGN KEY (`rol_id_id`) REFERENCES `rol_rol` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rol_permiso_rol`
--

LOCK TABLES `rol_permiso_rol` WRITE;
/*!40000 ALTER TABLE `rol_permiso_rol` DISABLE KEYS */;
/*!40000 ALTER TABLE `rol_permiso_rol` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rol_rol`
--

DROP TABLE IF EXISTS `rol_rol`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `rol_rol` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `nombre` varchar(60) NOT NULL,
  `descripcion` varchar(80) DEFAULT NULL,
  `estado` varchar(8) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rol_rol`
--

LOCK TABLES `rol_rol` WRITE;
/*!40000 ALTER TABLE `rol_rol` DISABLE KEYS */;
INSERT INTO `rol_rol` VALUES (1,'Administrador','Puede hacer todo','Activo'),(2,'Recepcionista','Puede hacer casi lo mismo del administrador','Activo'),(3,'Manicurista','Organiza las u├▒as bien bonitas','Activo'),(4,'Cliente','Solo ser cliente y ya','Activo'),(5,'Administrador','Tiene todo el acceso al sistema','Activo'),(6,'AdminPrueba','Solo es una prueba','Activo');
/*!40000 ALTER TABLE `rol_rol` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `servicio_servicio`
--

DROP TABLE IF EXISTS `servicio_servicio`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `servicio_servicio` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `nombre` varchar(40) NOT NULL,
  `descripcion` longtext NOT NULL,
  `precio` decimal(10,2) NOT NULL,
  `estado` varchar(40) NOT NULL,
  `url_imagen` varchar(500) DEFAULT NULL,
  `created_at` datetime(6) NOT NULL,
  `tipo` varchar(40) NOT NULL,
  `duracion` bigint NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `servicio_servicio`
--

LOCK TABLES `servicio_servicio` WRITE;
/*!40000 ALTER TABLE `servicio_servicio` DISABLE KEYS */;
INSERT INTO `servicio_servicio` VALUES (1,'','Servicio de manicure b├ísico con esmaltado tradicional.',0.00,'Activo','','2025-08-15 05:53:56.981647','Manicure',2700000000),(2,'','Servicio de manicure b├ísico con esmaltado tradicional.',0.00,'Activo','','2025-08-15 05:55:13.649368','Manicure',2700000000),(3,'Semipermanente','Decoraci├│n super hermoso con esmalte duradero.',60.00,'Activo','https://i.pinimg.com/736x/f0/22/e0/f022e02cc519e908d40734025014559c.jpg','2025-08-15 06:03:07.658291','Manicure',2700000000);
/*!40000 ALTER TABLE `servicio_servicio` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `token_blacklist_blacklistedtoken`
--

DROP TABLE IF EXISTS `token_blacklist_blacklistedtoken`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `token_blacklist_blacklistedtoken` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `blacklisted_at` datetime(6) NOT NULL,
  `token_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `token_id` (`token_id`),
  CONSTRAINT `token_blacklist_blacklistedtoken_token_id_3cc7fe56_fk` FOREIGN KEY (`token_id`) REFERENCES `token_blacklist_outstandingtoken` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `token_blacklist_blacklistedtoken`
--

LOCK TABLES `token_blacklist_blacklistedtoken` WRITE;
/*!40000 ALTER TABLE `token_blacklist_blacklistedtoken` DISABLE KEYS */;
/*!40000 ALTER TABLE `token_blacklist_blacklistedtoken` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `token_blacklist_outstandingtoken`
--

DROP TABLE IF EXISTS `token_blacklist_outstandingtoken`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `token_blacklist_outstandingtoken` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `token` longtext NOT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `expires_at` datetime(6) NOT NULL,
  `user_id` bigint DEFAULT NULL,
  `jti` varchar(255) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `token_blacklist_outstandingtoken_jti_hex_d9bdf6f7_uniq` (`jti`),
  KEY `token_blacklist_outs_user_id_83bc629a_fk_usuario_u` (`user_id`),
  CONSTRAINT `token_blacklist_outs_user_id_83bc629a_fk_usuario_u` FOREIGN KEY (`user_id`) REFERENCES `usuario_usuario` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `token_blacklist_outstandingtoken`
--

LOCK TABLES `token_blacklist_outstandingtoken` WRITE;
/*!40000 ALTER TABLE `token_blacklist_outstandingtoken` DISABLE KEYS */;
/*!40000 ALTER TABLE `token_blacklist_outstandingtoken` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuario_cliente`
--

DROP TABLE IF EXISTS `usuario_cliente`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `usuario_cliente` (
  `usuario_id` bigint NOT NULL,
  `nombre` varchar(30) NOT NULL,
  `apellido` varchar(30) NOT NULL,
  `tipo_documento` varchar(2) NOT NULL,
  `numero_documento` varchar(15) NOT NULL,
  `correo` varchar(40) NOT NULL,
  `celular` varchar(13) DEFAULT NULL,
  `estado` varchar(8) NOT NULL,
  PRIMARY KEY (`usuario_id`),
  UNIQUE KEY `usuario_cliente_correo_37f1f82c_uniq` (`correo`),
  UNIQUE KEY `usuario_cliente_numero_documento_8f1cded8_uniq` (`numero_documento`),
  CONSTRAINT `usuario_cliente_usuario_id_4d1b2caa_fk_usuario_usuario_id` FOREIGN KEY (`usuario_id`) REFERENCES `usuario_usuario` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuario_cliente`
--

LOCK TABLES `usuario_cliente` WRITE;
/*!40000 ALTER TABLE `usuario_cliente` DISABLE KEYS */;
INSERT INTO `usuario_cliente` VALUES (1,'Maria','Pineda','CC','21581177','pineda@example.com','3006203456','Activo');
/*!40000 ALTER TABLE `usuario_cliente` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuario_manicurista`
--

DROP TABLE IF EXISTS `usuario_manicurista`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `usuario_manicurista` (
  `usuario_id` bigint NOT NULL,
  `nombre` varchar(30) NOT NULL,
  `apellido` varchar(30) NOT NULL,
  `tipo_documento` varchar(2) NOT NULL,
  `numero_documento` varchar(15) NOT NULL,
  `correo` varchar(60) NOT NULL,
  `celular` varchar(13) NOT NULL,
  `estado` varchar(8) NOT NULL,
  `fecha_nacimiento` date NOT NULL,
  `fecha_contratacion` date NOT NULL,
  PRIMARY KEY (`usuario_id`),
  UNIQUE KEY `usuario_manicurista_celular_4232efed_uniq` (`celular`),
  UNIQUE KEY `usuario_manicurista_correo_6abfe4aa_uniq` (`correo`),
  UNIQUE KEY `usuario_manicurista_numero_documento_83165f64_uniq` (`numero_documento`),
  CONSTRAINT `usuario_manicurista_usuario_id_ccb8e633_fk_usuario_usuario_id` FOREIGN KEY (`usuario_id`) REFERENCES `usuario_usuario` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuario_manicurista`
--

LOCK TABLES `usuario_manicurista` WRITE;
/*!40000 ALTER TABLE `usuario_manicurista` DISABLE KEYS */;
INSERT INTO `usuario_manicurista` VALUES (4,'Manuela','Guzman','CC','1023456789','guzmanmanu@example.com','3001259087','Activo','2000-06-15','2024-01-10');
/*!40000 ALTER TABLE `usuario_manicurista` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuario_usuario`
--

DROP TABLE IF EXISTS `usuario_usuario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `usuario_usuario` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `password` varchar(128) NOT NULL,
  `last_login` datetime(6) DEFAULT NULL,
  `is_superuser` tinyint(1) NOT NULL,
  `username` varchar(150) NOT NULL,
  `first_name` varchar(150) NOT NULL,
  `last_name` varchar(150) NOT NULL,
  `email` varchar(254) NOT NULL,
  `is_staff` tinyint(1) NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  `date_joined` datetime(6) NOT NULL,
  `nombre` varchar(30) NOT NULL,
  `apellido` varchar(30) NOT NULL,
  `correo` varchar(60) NOT NULL,
  `estado` varchar(8) NOT NULL,
  `rol_id_id` bigint NOT NULL,
  `numero_documento` varchar(15) DEFAULT NULL,
  `tipo_documento` varchar(2) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`),
  UNIQUE KEY `usuario_usuario_correo_d80bc94d_uniq` (`correo`),
  UNIQUE KEY `usuario_usuario_numero_documento_caf06a5d_uniq` (`numero_documento`),
  KEY `usuario_usuario_rol_id_id_00a060c6_fk_rol_rol_id` (`rol_id_id`),
  CONSTRAINT `usuario_usuario_rol_id_id_00a060c6_fk_rol_rol_id` FOREIGN KEY (`rol_id_id`) REFERENCES `rol_rol` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuario_usuario`
--

LOCK TABLES `usuario_usuario` WRITE;
/*!40000 ALTER TABLE `usuario_usuario` DISABLE KEYS */;
/*!40000 ALTER TABLE `usuario_usuario` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuario_usuario_groups`
--

DROP TABLE IF EXISTS `usuario_usuario_groups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `usuario_usuario_groups` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `usuario_id` bigint NOT NULL,
  `group_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `usuario_usuario_groups_usuario_id_group_id_a4cfb0b8_uniq` (`usuario_id`,`group_id`),
  KEY `usuario_usuario_groups_group_id_b9c090f8_fk_auth_group_id` (`group_id`),
  CONSTRAINT `usuario_usuario_groups_group_id_b9c090f8_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`),
  CONSTRAINT `usuario_usuario_groups_usuario_id_62de76a1_fk_usuario_usuario_id` FOREIGN KEY (`usuario_id`) REFERENCES `usuario_usuario` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuario_usuario_groups`
--

LOCK TABLES `usuario_usuario_groups` WRITE;
/*!40000 ALTER TABLE `usuario_usuario_groups` DISABLE KEYS */;
/*!40000 ALTER TABLE `usuario_usuario_groups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuario_usuario_user_permissions`
--

DROP TABLE IF EXISTS `usuario_usuario_user_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `usuario_usuario_user_permissions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `usuario_id` bigint NOT NULL,
  `permission_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `usuario_usuario_user_per_usuario_id_permission_id_c0a85055_uniq` (`usuario_id`,`permission_id`),
  KEY `usuario_usuario_user_permission_id_5cad0a4b_fk_auth_perm` (`permission_id`),
  CONSTRAINT `usuario_usuario_user_permission_id_5cad0a4b_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `usuario_usuario_user_usuario_id_5969a193_fk_usuario_u` FOREIGN KEY (`usuario_id`) REFERENCES `usuario_usuario` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuario_usuario_user_permissions`
--

LOCK TABLES `usuario_usuario_user_permissions` WRITE;
/*!40000 ALTER TABLE `usuario_usuario_user_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `usuario_usuario_user_permissions` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-08-19  1:24:04
